<a href="https://colab.research.google.com/github/valentimaraujo/data-science-practice/blob/master/rdias/TEST_ORACLE_CONNECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime
from sqlalchemy import create_engine

In [0]:
DB_HOST = 'xxx.xxx.x.xx:1521'
DB_DATABASE = 'rdiasdb'
DB_USER = 'rv4_prod'
DB_PASS = 'rv4_prod'
ENGINE_CONNECT = "oracle://{}:{}@{}/{}".format(DB_USER,DB_PASS,DB_HOST,DB_DATABASE)
engine = create_engine(ENGINE_CONNECT, echo=False)

In [0]:
documents = pd.read_sql("SELECT COUNT(*) FROM DOCUMENTS ORDER BY CREATEAT",engine)
print(documents)
#for index, row in documents.iterrows():
   # print(row.RELATIVE_PATH)

   COUNT(*)
0    695383